<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gudla.tgtourism">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Telangana Tourism">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gudla.tgtourism.MainActivity" />
        </activity>
        <activity android:name=".DestinationsActivity" />
        <activity
            android:name=".DivineDestinationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".HeritageActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".NatureActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".WildLifeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AdventureActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ContactUsActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA5thEPrcS6so_nJNSfBTrUPlHMVFzIXwc" />

        <activity
            android:name=".hyd.BrilaActivity"
            android:label="@string/title_activity_brila" />
        <activity
            android:name=".hyd.JagannathActivity"
            android:label="@string/title_activity_jagannath" />
        <activity
            android:name=".hyd.YellammaActivity"
            android:label="@string/title_activity_yellamma" />
        <activity
            android:name=".hyd.PeddammaActivity"
            android:label="@string/title_activity_peddamma" />
        <activity
            android:name=".hyd.StMarryActivity"
            android:label="@string/title_activity_st_marry" />
        <activity
            android:name=".hyd.MeccaMasjidActivity"
            android:label="@string/title_activity_macca_masjid" />
        <activity
            android:name=".hyd.MahankaliActivity"
            android:label="@string/title_activity_mahankali" />
        <activity
            android:name=".hyd.CharminarActivity"
            android:label="@string/charminar" />
        <activity android:name=".hyd.HyderabadActivity" />
        <activity android:name=".khm.KhammamActivity" />
        <activity android:name=".mbn.MahabubnagarActivity" />
        <activity android:name=".nld.NalgondaActivity" />
        <activity android:name=".wgl.WarangalActivity" />
        <activity android:name=".adb.AdilabadActivity" />
        <activity android:name=".nzb.NizamabadActivity" />
        <activity android:name=".knr.KarimnagarActivity" />
        <activity android:name=".mdk.MedakActivity" />
        <activity android:name=".rr.RangareddyActivity" />
        <activity
            android:name=".hyd.SalarjungActivity"
            android:label="@string/salarjung" />
        <activity
            android:name=".hyd.QutubShahi"
            android:label="@string/qutub" />
        <activity
            android:name=".hyd.PaigahTombs"
            android:label="@string/paigah" />
        <activity
            android:name=".hyd.Golconda"
            android:label="@string/golconda" />
        <activity
            android:name=".hyd.Falaknuma"
            android:label="@string/falaknuma" />
        <activity
            android:name=".hyd.Chowmahalla"
            android:label="@string/chowmahalla" />
        <activity
            android:name=".hyd.Durgam"
            android:label="@string/durgam" />
        <activity
            android:name=".hyd.HussainSager"
            android:label="@string/hussain" />
        <activity
            android:name=".hyd.Lumbini"
            android:label="@string/lumbini" />
        <activity android:name=".hyd.KbrNational" />
        <activity android:name=".hyd.Mahavir"></activity>
    </application>

</manifest>