<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gudla.tgtourism">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Telangana Tourism">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gudla.tgtourism.MainActivity" />
        </activity>
        <activity android:name=".DestinationsActivity" />
        <activity
            android:name=".DivineDestinationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".HeritageActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".NatureActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".WildLifeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AdventureActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ContactUsActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA5thEPrcS6so_nJNSfBTrUPlHMVFzIXwc" />

        <activity
            android:name=".hyd.HyderabadActivity"
            android:label="@string/hyderabad" />
        <activity
            android:name=".khm.KhammamActivity"
            android:label="@string/khammam" />
        <activity
            android:name=".mbn.MahabubnagarActivity"
            android:label="@string/mahabubnagar" />
        <activity
            android:name=".nld.NalgondaActivity"
            android:label="@string/nalgonda" />
        <activity
            android:name=".wgl.WarangalActivity"
            android:label="@string/warangal" />
        <activity
            android:name=".adb.AdilabadActivity"
            android:label="@string/adilabad" />
        <activity
            android:name=".nzb.NizamabadActivity"
            android:label="@string/nizamabad" />
        <activity
            android:name=".knr.KarimnagarActivity"
            android:label="@string/karimnagar" />
        <activity
            android:name=".mdk.MedakActivity"
            android:label="@string/medak" />
        <activity
            android:name=".rr.RangareddyActivity"
            android:label="@string/rangareddy" />
        <activity
            android:name=".hyd.birla.BrilaActivity"
            android:label="@string/title_activity_brila" />
        <activity
            android:name=".hyd.jagannath.JagannathActivity"
            android:label="@string/title_activity_jagannath" />
        <activity
            android:name=".hyd.yellamma.YellammaActivity"
            android:label="@string/title_activity_yellamma" />
        <activity
            android:name=".hyd.peddamma.PeddammaActivity"
            android:label="@string/title_activity_peddamma" />
        <activity
            android:name=".hyd.stmarry.StMarryActivity"
            android:label="@string/title_activity_st_marry" />
        <activity
            android:name=".hyd.mecca.MeccaMasjidActivity"
            android:label="@string/title_activity_macca_masjid" />
        <activity
            android:name=".hyd.mahankali.MahankaliActivity"
            android:label="@string/title_activity_mahankali" />
        <activity
            android:name=".hyd.charminar.CharminarActivity"
            android:label="@string/charminar" />
        <activity
            android:name=".hyd.salarjung.SalarjungActivity"
            android:label="@string/salarjung" />
        <activity
            android:name=".hyd.qutub.QutubShahi"
            android:label="@string/qutub" />
        <activity
            android:name=".hyd.paigah.PaigahTombs"
            android:label="@string/paigah" />
        <activity
            android:name=".hyd.golconda.Golconda"
            android:label="@string/golconda" />
        <activity
            android:name=".hyd.falaknuma.Falaknuma"
            android:label="@string/falaknuma" />
        <activity
            android:name=".hyd.chowmahalla.Chowmahalla"
            android:label="@string/chowmahalla" />
        <activity
            android:name=".hyd.durgam.Durgam"
            android:label="@string/durgam" />
        <activity
            android:name=".hyd.hussain.HussainSager"
            android:label="@string/hussain" />
        <activity
            android:name=".hyd.lumbini.Lumbini"
            android:label="@string/lumbini" />
        <activity
            android:name=".hyd.kbr.KbrNational"
            android:label="@string/kbr_national_park" />
        <activity
            android:name=".hyd.mahavir.Mahavir"
            android:label="@string/mahavir_national_park" />
        <activity
            android:name=".hyd.mrugavani.Mrugavani"
            android:label="@string/mrugavani_national_park" />
        <activity
            android:name=".hyd.nehru.Nehru"
            android:label="@string/nehru_zoological" />
        <activity
            android:name=".khm.jamala.Jamalapuram"
            android:label="@string/jamalapuram" />
        <activity
            android:name=".khm.kusumanchi.Kusumanchi"
            android:label="@string/kusumanchi" />
        <activity
            android:name=".khm.nela.Nelakondapalli"
            android:label="@string/nelakondapalli" />
        <activity
            android:name=".khm.fort.KhammamFort"
            android:label="@string/khammam_fort" />
        <activity
            android:name=".khm.parnasala.Parnasala"
            android:label="@string/parnasala" />
        <activity
            android:name=".khm.palair.Palair"
            android:label="@string/palair" />
        <activity
            android:name=".khm.dam.KinnerasaniDam"
            android:label="@string/kinnerasani_dam" />
        <activity
            android:name=".khm.bagatha.Bagatha"
            android:label="@string/bogatha" />
        <activity
            android:name=".khm.kinnerasani.KinnerasaniWildLife"
            android:label="@string/kinnerasani" />
        <activity
            android:name=".khm.bhadra.Bhadrachalam"
            android:label="@string/bhadrachalam" />
        <activity android:name=".mbn.jogu.JogulambaActivity"
            android:label="@string/jogulamba"/>
        <activity android:name=".mbn.uma.UmaMaheshwara"
            android:label="@string/uma_maheshwara"/>
        <activity android:name=".mbn.maisi.Maisigandi"
            android:label="@string/maisigandi"/>
        <activity android:name=".mbn.beechu.Beechupally"
            android:label="@string/beechupally"/>
        <activity android:name=".mbn.lord.LordShiva"
            android:label="@string/lord_shiva"/>
        <activity android:name=".mbn.manyam.Manyamkonda"
            android:label="@string/manyamkonda"/>
        <activity android:name=".mbn.pillala.Pillalamarri"
            android:label="@string/pillalamarri"/>
        <activity android:name=".mbn.alam.Alampur"
            android:label="@string/alampur"/>
        <activity android:name=".mbn.gadwal.GadwalFort"
            android:label="@string/gadwal_fort"/>
        <activity android:name=".mbn.mallela.Mallela"
            android:label="@string/mallela"/>
        <activity android:name=".mbn.tiger.TigerForest"
            android:label="@string/tiger_forest"/>
        <activity android:name=".mbn.jurala.Jurala"
            android:label="@string/jurala_dam"/>
        <activity android:name=".mbn.koilsagar.Koilsagar"
            android:label="@string/koilsagar"/>
        <activity android:name=".mbn.srisailam.Srisailam"
            android:label="@string/srisailam"/>
        <activity android:name=".nld.yadagi.Yadagirigutta"
            android:label="@string/yadagirigutta"/>
        <activity android:name=".nld.surendra.Surendrapuri"
            android:label="@string/surendrapuri"/>
        <activity android:name=".nld.chaya.ChayaSomeswara"
            android:label="@string/chaya_someswara"/>
        <activity android:name=".nld.nandi.Nandikonda"
            android:label="@string/nandikonda"/>
        <activity android:name=".nld.sagar.Nagarjuna"
            android:label="@string/nagarjuna"/>
        <activity android:name=".nld.kolanupaka.Kolanupaka"
            android:label="@string/kolanupaka"/>
        <activity android:name=".nld.devara.Devarakonda"
            android:label="@string/devarakonda"/>
        <activity android:name=".nld.bhongir.Bhongir"
            android:label="@string/bhongir"/>
        <activity android:name=".nld.racha.Rachakonda"
            android:label="@string/rachakonda"/>
    </application>

</manifest>